In [3]:
import pandas as pd
Weather_data={
        'Day':['1\1\2017','1\2\2017','1\3\2017','1\4\2017','1\5\2017','1\6\2017'],
        'Temperature':[32,35,28,24,32,31],
        'WindSpeed':[6,7,2,7,4,2],
        'Event':['rain','sunny','snow','snow','rain','sunny']
}
df=pd.DataFrame(Weather_data)
df

    Day  Temperature  WindSpeed  Event
0  17           32          6   rain
1  17           35          7  sunny
2  17           28          2   snow
3  17           24          7   snow
4  17           32          4   rain
5  17           31          2  sunny

In [4]:

df.Temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: Temperature, dtype: int64

In [2]:
df.shape

(6, 4)

In [4]:
row,column=df.shape
row

6

In [5]:
column

4

In [6]:
df.head()

    Day  Temperature  WindSpeed  Event
0  17           32          6   rain
1  17           35          7  sunny
2  17           28          2   snow
3  17           24          7   snow
4  17           32          4   rain

In [7]:
df.head(1)

    Day  Temperature  WindSpeed Event
0  17           32          6  rain

In [8]:
df.tail()

    Day  Temperature  WindSpeed  Event
1  17           35          7  sunny
2  17           28          2   snow
3  17           24          7   snow
4  17           32          4   rain
5  17           31          2  sunny

In [9]:
df.tail(1)

    Day  Temperature  WindSpeed  Event
5  17           31          2  sunny

In [10]:
df[2:5]

    Day  Temperature  WindSpeed Event
2  17           28          2  snow
3  17           24          7  snow
4  17           32          4  rain

In [11]:
df[:]

    Day  Temperature  WindSpeed  Event
0  17           32          6   rain
1  17           35          7  sunny
2  17           28          2   snow
3  17           24          7   snow
4  17           32          4   rain
5  17           31          2  sunny

In [12]:
df.columns

Index(['Day', 'Temperature', 'WindSpeed', 'Event'], dtype='object')

In [13]:
df.describe()

       Temperature  WindSpeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [15]:
df.Event

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: Event, dtype: object

In [16]:
df['Event']

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: Event, dtype: object

In [22]:
df[df.Temperature==df.Temperature.max()]

    Day  Temperature  WindSpeed  Event
1  17           35          7  sunny

In [23]:
df.Day

0    17
1    17
2    17
3    17
4    17
5    17
Name: Day, dtype: object

In [25]:
df.Event

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: Event, dtype: object

In [26]:
type(df['Event'])

pandas.core.series.Series

In [27]:
df[['Event','Day']]

   Event   Day
0   rain  17
1  sunny  17
2   snow  17
3   snow  17
4   rain  17
5  sunny  17

In [28]:
df['Temperature'].max()

35

In [29]:
df['Temperature'].mean()

30.333333333333332

In [30]:
df['Temperature'].std()

3.8297084310253524

In [31]:
df.describe()

       Temperature  WindSpeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [33]:
df[df['Temperature']>=32]

    Day  Temperature  WindSpeed  Event
0  17           32          6   rain
1  17           35          7  sunny
4  17           32          4   rain

In [35]:
df[df.Temperature==df.Temperature.max()]

    Day  Temperature  WindSpeed  Event
1  17           35          7  sunny

In [37]:
df[df.Temperature==df['Temperature'].max()]

    Day  Temperature  WindSpeed  Event
1  17           35          7  sunny

In [44]:
df['Day'][df.Temperature==df['Temperature'].max()]

1    17
Name: Day, dtype: object

In [46]:
df[['Day','Temperature']][df.Temperature==df['Temperature'].max()]

    Day  Temperature
1  17           35

In [48]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [50]:
df.set_index('Day')

      Temperature  WindSpeed  Event
Day
17           32          6   rain
17           35          7  sunny
17           28          2   snow
17           24          7   snow
17           32          4   rain
17           31          2  sunny

In [51]:
df.set_index('Day',inplace=True)

In [52]:
df

      Temperature  WindSpeed  Event
Day
17           32          6   rain
17           35          7  sunny
17           28          2   snow
17           24          7   snow
17           32          4   rain
17           31          2  sunny

In [53]:
df.reset_index(inplace=True)

In [54]:
df

    Day  Temperature  WindSpeed  Event
0  17           32          6   rain
1  17           35          7  sunny
2  17           28          2   snow
3  17           24          7   snow
4  17           32          4   rain
5  17           31          2  sunny

In [56]:
df.set_index('Day',inplace=True)

In [57]:
df

      Temperature  WindSpeed  Event
Day
17           32          6   rain
17           35          7  sunny
17           28          2   snow
17           24          7   snow
17           32          4   rain
17           31          2  sunny

In [58]:
df.loc['1\3\2017']

Temperature      28
WindSpeed         2
Event          snow
Name: 17, dtype: object

In [59]:
df.reset_index(inplace=True)

In [60]:
df

    Day  Temperature  WindSpeed  Event
0  17           32          6   rain
1  17           35          7  sunny
2  17           28          2   snow
3  17           24          7   snow
4  17           32          4   rain
5  17           31          2  sunny